body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 96vh;
  margin: 0;
  background-color: #2e8a29;
}

.button-panel {
  padding: 14px;
  margin: 12px;
}

.container-grid {
  text-align: center;
  background-color: #d0d0d0;
  padding: 16px;
  margin: 4px;
  border-radius: 24px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.game-creator {
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

#turn {
  font-family: Segoe Ui;
  font-weight: bold;
}

#scoreO,
#scoreX,
#puntuation-style,
#game-creator {
  font-family: Arial;
}

.center-panel {
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 4px;
  margin-top: 20px;
}

.cell {
  width: 98px;
  height: 98px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
  font-family: Segoe UI;
  cursor: pointer;
  border-color: #c7c7c7;
  border-radius: 24px;
  border-width: 4px;
  border-style: solid;
}

.cell:hover {
  background-color: #e0e0e0;
  border-radius: 24px;
  border-width: 4px;
  border-style: solid;
}

.score-panel {
  margin-top: 20px;
}

buttonReset {
  padding: 12px;
  margin-top: 18px;
  border-radius: 24px;
  background-color: #608FD8;
  color: #ffffff;
  font-family: Arial;
  font-weight: bold;
  font-size: 14px;
}

buttonReset:hover {
  color: #d8d8d8;
  background-color: #5881C1;
}
